################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/VideoTagger/v16
/packages
/SystemWolfCommon/bin
/SystemWolfCommon/obj
*.user
/VideoTaggerWPF/bin
/VideoTaggerWPF/obj
/VideoTaggerWPFTests/bin/Debug
/VideoTaggerWPFTests/obj/Debug
